Package: com.xelahot.libxelahot
Name: libXelahot
Version: 1.0.0
Architecture: iphoneos-arm
Description: An iOS library for jailbroken devices used in my tweaks
Maintainer: Xelahot
Author: Xelahot
Section: System
Tag: role::developer
Homepage: https://xelahot.github.io/
